{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Resultado de las votacionas para la Alcaldia de Guayaquil 104{% endblock title %}
{% block header %}
{% if user.is_authenticated %}
<div class="userInfoTop">
	<span class="user">hola, {{ user.username }}  <a href='{% url "url_logout" %}' class="logout">Salir</a></span> 			
</div>
<div class="userInfo">
	<a href="{% url 'url_home'%}" class="resultados">Inicio</a>	
</div>		
{% else %}
<div class="userInfo">
	<a href="login/facebook" class="facebook">Entrar con Facebook</a>
</div>
{% endif %}	
{% endblock header %}
{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=584126405013896";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section class="main">	
	<article>
			<h1>Resultados de Votaciones</h1>
			<div class="fotos">
				{% if candidatos %}
					{% for candidato in candidatos %}
						<div class="resultado">
							<img src="{{ candidato.foto.url}}" alt="{{ candidato.nombre }} {{ candidato.apellido }}" title="{{ candidato.nombre }} {{ candidato.apellido }}" />
							<div class="right">
								<div class="titulo">
									{{candidato.nombre}} 
									{{candidato.apellido}}
								</div>
								<div class="votos">
									{{candidato.num_votos}} <span class="word">Votos</span>
								</div>
							</div>							
						</div>	
					{% endfor %}
					
				{% else %}
					<p>No hay candidatos disponibles :(</p>
				{% endif %}
			</div>

			<br>
			<div class="fb-share-button" data-href="http://votaciones.canvasdigital.ec" data-type="box_count"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://votaciones.canvasdigital.ec" data-via="Votaciones2014" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<div class="fotos" style="padding: 5px; margin-top:15px;">
				<div id="">
					<div id="disqus_thread"></div>
				    <script type="text/javascript">
				        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				        var disqus_shortname = 'votacionesguayaquil'; // required: replace example with your forum shortname

				        /* * * DON'T EDIT BELOW THIS LINE * * */
				        (function() {
				            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				        })();
				    </script>
				    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				    
				</div>
			</div>


	</article>
</section>





{% endblock %}
{% block footer %}
	<p>Desarrollado por: Víctor Díaz | Diseñado por: Eduardo Kang</p>
{% endblock footer %}
	
