body{background:#efefef;font-family:Georgia;font-size:16pt}
header{background:url("../images/estrella.png") no-repeat;background-position:50% 38%;background-color:#2e88cc;border-bottom:7px solid #2eb0cc;height:109px;box-shadow:0 2px 0 #c6c6c6;position:relative;}
header .estrella{display:block;margin:0 auto;padding-top:40px}
.hideButton{display:none}
.resultado{float:left;width:45%;border:1px solid #ccc;margin-right:15px;margin-bottom:15px;}
.resultado img{width:30%;height:90px;float:left}
.resultado .right{float:right;width:70%;}
.resultado .right .titulo{border-bottom:1px solid #ccc}
.userInfoTop{position:absolute;top:10px;left:0;right:0;text-align:center;}
.userInfoTop span.user{text-transform:uppercase;color:#fff;}
.userInfoTop span.user a{text-transform:uppercase;color:#fff;background-color:#0b61a4;text-decoration:none;padding:10px 15px;text-transform:uppercase}
.userInfoTop span.user a.logout{background-color:#0b61a4;padding:7px}
.userInfo{position:absolute;bottom:15px;left:0;right:0;text-align:center;color:#fff;}
.userInfo a{text-transform:uppercase;color:#fff;background-color:#0b61a4;text-decoration:none;padding:10px 15px;text-transform:uppercase}
.userInfo a.logout{color:#fff;text-decoration}
.main{text-align:center;position:relative;}
.main h1{color:#2e88cc;font-size:1.2em;font-style:italic}
.main .fotos{background:#fff;border-bottom:1px solid #c6c6c6;overflow:hidden;padding:20px 30px 60px 30px;}
.main .fotos .candidato{border-top:8px solid #c6c6c6;border-radius:3px;box-shadow:0 2px 5px #c6c6c6;float:left;width:50%;}
.main .fotos .candidato button{background:#818181;border-radius:3px;border:0;color:#fff;font-weight:700;padding:20px 0;text-transform:uppercase;width:100%}
.main .fotos .candidato h2{color:#3c3c3c;font-size:1.1em;font-style:italic}
.main .fotos .candidato img{width:210px;height:225px}
.main .fotos .candidato.selected{border-top:8px solid #2e88cc;}
.main .fotos .candidato.selected button{background:#2e88cc}
.main .gracias{background:#90ee90;color:#008000;font-weight:700;left:0;line-height:0;margin-left:0;margin-right:0;padding:20px 0;position:absolute;right:0;top:10px}
.top-votaciones{text-align:center;}
.top-votaciones h2{color:#3c3c3c;font-size:1em;font-style:italic}
.top-votaciones .cont-resul{background:#3c3c3c;border-bottom:4px solid #c6c6c6;border-top:4px solid #c6c6c6;overflow:hidden;padding:30px 0;}
.top-votaciones .cont-resul .resul{float:left;width:50%;}
.top-votaciones .cont-resul .resul h3{color:#fff;font-style:italic;font-size:.9em}
.top-votaciones .cont-resul .resul .cantidad{color:#fff;font-family:"Gill Sans MT";font-size:3em;line-height:0;margin-top:30px}
.top-votaciones .cont-resul .resul .votos{color:#fff;font-family:"Gill Sans MT";font-size:.8em;line-height:0;margin-top:-20px}
footer{color:#c6c6c6;text-align:center}
@media screen and (min-width: 320px){.resultado{width:100%}
.main .fotos{padding:10px 2px;}
.main .fotos .candidato{margin:0 8px;width:45%;}
.main .fotos .candidato img{width:170px;height:210px}
.main .gracias{line-height:1.2em}
}@media screen and (min-width: 1024px){.main .fotos{border-radius:3px;margin:0 auto;width:920px;}
.main .fotos .candidato{margin:0 10px;width:210px;}
.main .fotos .candidato img{width:210px;height:225px}
.main .gracias{border-radius:3px;line-height:1em;margin:0 auto;top:10px;width:40%}
.top-votaciones{border-radius:3px;margin:0 auto;width:700px}
}