{% load staticfiles %}
{% load url from future %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximim-scale=1">
	<title>{% block title %}Alcalde Guayaquil 2014{% endblock title %}</title>	
</head>
<body>
	
		
	<header>
		<div class="userInfo">
			{% if user.is_authenticated %}
				<span class="user">hola, {{ user.username }}	<a href='{% url "url_logout" %}' class="logout">Salir</a></span>
			{% else %}
				<a href="login/facebook" class="facebook">Entrar con Facebook</a>
			{% endif %}
		</div>		
	</header>
{% block body %}
	
{% endblock body %}


<footer>
{% block footer %}
			
{% endblock footer %}		
</footer>	

<link rel="stylesheet" href="{% static 'css/elecciones.css'%}" />
<link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
{% block script %}
	
{% endblock script %}
</body>
</html>