{% load staticfiles %}
{% load url from future %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximim-scale=1">
	<title>{% block title %}Alcalde Guayaquil 2014{% endblock title %}</title>	
</head>
<body>
	
		{% if user.is_authenticated %}
			hola {{ user.username }}	<a href='{% url "url_logout" %}'>Salir</a>
		{% else %}
			<a href="login/facebook">Login with Facebook</a>
		{% endif %}
	<header>
	</header>
{% block body %}
	
{% endblock body %}


<footer>
{% block footer %}
			
{% endblock footer %}		
</footer>	

<link rel="stylesheet" href="{% static 'css/elecciones.css'%}" />
<link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
{% block script %}
	
{% endblock script %}
</body>
</html>